<h1 class="h1">Seja bem-vindo ao FinanSESI</h1>
<h3 class="h3">Aprendendo programação e finanças!</h3>

<div class="div">
    <div class="lista_card">
        <a href="/juros_simples">
        <p>Juros Simples</p>
        <img src="./img/juros_simples.png" alt="">
        </a>

    </div>
    <div class="lista_card">
        <a href="/juros_compostos">
        <p>Juros Composto</p>
        <img src="./img/juros_composto.png" alt="">
        </a>
    </div>
</div>
