<strong>Projeto desenvolvido por</strong>
<p>Marcelo</p>
<hr>
<p>Este projeto foi desenvolvido com o intuito de criar um sistema para aprendermos programação e finanças</p>
<hr>
<p>Desenvolvido em sala de aula em parceria ao projeto SESI / SENAI</p>